<html>
  <head>
    <title>Aroymai Food Survey</title>
  </head>
  <body>
    <h1>Aroymai Food Survey</h1>
    <form action="/add" method="POST">
      <table>
        <tr>
          <th>Foods</th>
          <% for (var key in foods){ %>
            <td>
              <center><%= foods[key] %></center>
              <textarea name="<%= foods[key]+"_Comment" %>" rows="8" cols="30" placeholder="Enter comment" id="<%= "id_"+foods[key]+"_Comment" %>"></textarea><br>
              Enter score: <input type="number" name="<%= foods[key]+"_Score" %>" min="1" max="5" id="<%= "id_"+foods[key]+"_Score" %>"> 
            </td>
          <% } %>
        </tr>
        <tr>
          <th>Drinks</th>
          <% for (var key in drinks){ %>
            <td>
              <center><%= drinks[key] %></center>
              <textarea name="<%= drinks[key]+"_Comment" %>" rows="8" cols="30" placeholder="Enter comment" id="<%= "id_"+drinks[key]+"_Comment" %>"></textarea><br>
              Enter score: <input type="number" name="<%= drinks[key]+"_Score" %>" min="1" max="5" id="<%= "id_"+drinks[key]+"_Score" %>">
            </td>
          <% } %>
        </tr>
        <tr>
          <td><input type="submit" value="Send" id="id_Send"></td>
        </tr>
      </table>
  </body>
</html>
