<html>
  <head>
    <title>Aroymai Food Survey</title>
  </head>
  <body>
    <h1>Aroymai Survey FillPage</h1>
    <form action="/add" method="POST">
      <table border="1">
        <tr>
          <th>Foods</th>
           <% for (var i in foods){ %>
          <td>
            <center><%= foods[i] %></center>
            <textarea name="<%= foods[i]+'_comment' %>" rows="8" cols="30" id="<%= 'id_'+foods[i]+'_Comment' %>"  placeholder="Enter comment" required></textarea><br>
            Enter score: <input type="number" name="<%= foods[i]+'_score' %>" id="<%= 'id_'+foods[i]+'_Score' %>"  min="1" max="5" required>
          </td>
          <% } %>
        </tr>
        <tr>
          <th>Drinks</th>
          <% for (var i in drinks){ %>
         <td>
           <center><%= drinks[i] %></center>
           <textarea name="<%= drinks[i]+'_comment' %>" rows="8" cols="30" id="<%= 'id_'+drinks[i]+'_Comment' %>"  placeholder="Enter comment" required></textarea><br>
           Enter score: <input type="number" name="<%= drinks[i]+'_score' %>" id="<%= 'id_'+drinks[i]+'_Score' %>"  min="1" max="5" required>
         </td>
         <% } %>
        </tr>
        <tr>
          <td></td>
          <td>
            <br>
            Name: <input type="text" name="User" size="5" id="id_User" maxlength="20">
            <input type="submit" value="Send" id="id_Send">
          </td>
        </tr>
      </table>
    </form>
    <a href="/">Home</a>
  </body>
</html>
