<html>
  <head>
    <title>Aroymai Food Survey</title>
  </head>
  <body>
    <h1>Aroymai Survey HomePage</h1>
    <form action="/fill" method="GET">
      <table border="1">
        <tr>
          <th>Foods</th>
          <% for (var key in foods){ %>
          <td><input type="checkbox" name="<%= foods[key]+'_'+key %>" value="<%= key %>" id="<%= 'id_'+key %>"><%= key %></td>
          <% } %>
        </tr>
        <tr>
          <th>Drinks</th>
          <% for (var key in drinks){ %>
          <td><input type="checkbox" name="<%= drinks[key]+'_'+key %>" value="<%= key %>" id="<%= 'id_'+key %>"><%= key %></td>
          <% } %>
        </tr>
        <tr>
          <td><input type="submit" value="Vote" id="id_Vote"></td>
          <td><input type="submit" value="Review" id="id_Review" formaction="/review"></td>
        </tr>
      </table>
    </form>
    <a href="about">About</a>
  </body>
<html>
